body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffdfb;
}

h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

button.btn-outline-warning {
  border: 1px solid #f28c28;
  color: #f28c28;
}

button.btn-outline-warning:hover {
  background-color: #f28c28;
  color: white;
}

button.btn-warning {
  background-color: #f28c28;
  border: none;
}
